h2.stepsheader {
	padding-top: 5%;
	color: #303e48;
	font-family: "HelveticaNeueW01-BdExt";
	text-transform: uppercase;
	font-size: 16px;
	padding-bottom: 0; 
	margin-bottom: 22px;
}

@media (min-width: 992px) {
	.proc-lft {
		padding-right: 80px;
	}

	.proc-cnt {
		padding-left: 40px;
		padding-right: 40px;
	}

	.proc-rgt {
		padding-left: 80px;
	}
}

.dotcheckbg {
	background:url('../img/checkbg.png') repeat left top; 
	background-attachment: fixed;
	padding-bottom: 7%;
	margin-top: 5%;
}

.centerup {
	margin: 0 auto;
	text-align: center;
	width:100%;
}

@media (max-width: 991px) {
	.plusmontage {
		height: 877px;
		background: url('../img/howwework_mntg_vert.png') no-repeat center center;
		background-size: auto 100%;
		margin-bottom: 9%;
	}
}

/* -------------  CLIENT LIST SPECIFIC  ------------- */

.cl-box {
	text-align: center;
	height: 160px;
}
@media (max-width: 767px) {
	.cl-box {
		height: 120px;
	}
}

.cl_coty {
	background: url('../img/CL_coty.png') no-repeat center;
}
.cl_voya {
	background: url('../img/CL_voya.png') no-repeat center;
}
.cl_chase {
	background: url('../img/CL_chase_pay.png') no-repeat center;
}
.cl_aetna {
	background: url('../img/CL_aetna.png') no-repeat center;
}
.cl_halle {
	background: url('../img/CL_halle.png') no-repeat center;
}
.cl_mc {
	background: url('../img/CL_mastercard.png') no-repeat center;
}
.cl_nautica {
	background: url('../img/CL_nautica.png') no-repeat center;
}
.cl_genre {
	background: url('../img/CL_genre.png') no-repeat center;
}
.cl_xylem {
	background: url('../img/CL_xylem.png') no-repeat center;
}
.cl_balenc {
	background: url('../img/CL_balenciaga.png') no-repeat center;
}
.cl_prudent {
	background: url('../img/CL_prudential.png') no-repeat center;
}
.cl_exelis {
	background: url('../img/CL_exelis.png') no-repeat center;
}
.cl_guess {
	background: url('../img/CL_guess.png') no-repeat center;
}
.cl_stetson {
	background: url('../img/CL_stetson.png') no-repeat center;
}
.cl_adp {
	background: url('../img/CL_adp.png') no-repeat center;
}
.cl_odyssey {
	background: url('../img/CL_odysseyre.png') no-repeat center;
}
/* --------------  HEADER SPECIFIC  ----------------*/

.homepageimg1 {
	margin-top: 90px;
}

@media (max-width: 991px) {
	.homepageimg1,
	.colorblockheader {
		margin-top: 57px;
	}
	
	.navbar-toggle {
		margin: 10px 0;
	}
	.navbar-header {
		height: 57px;
	}
	.navbar-brand {
		padding: 0 15px;
		margin: 12px 0;
	}
}


/* --------------  SUBHEADER SPECIFIC  ----------------*/





/* --------------  FOOTER SPECIFIC  ----------------*/

footer a {
	color:#fff!important;
}

.footer-center {
	text-align: center;
}

.footer-right {
	text-align: right;
}

.footer-right img {
	display: inline;
	width: 23px;
	margin-left: 15px;
	padding-right: 2px;
}

@media (max-width: 991px) {
	.footer-left,
	.footer-center,
	.footer-right {
		text-align: center;
	}
	.footer-right {
		margin-top: 15px;
	}
	footer a {
		padding-right: 15px;
	}
}	