body {background-color:#e9e9ea!important;background:#e9e9ea!important;}

body a, body a:hover, body a:active, body a:focus {text-decoration:none;}

.ui-loader {
display: none!important;
}

.container {padding:0;}
.row {margin:0;}

.  {opacity:.5;}

#footer {padding-top:2%;}

.navbar-brand > img {width:129px;max-width:129px;}

.navbar-fixed-top {background:#fff;padding-left:10px;padding-right:10px;}

.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 9px;
padding-left: 12px;
padding-right: 12px;
margin-left: 8px;
margin-right: 8px;
}

a.current {
color: #c30e2e!important;
border-bottom: 1px solid #c30e2e;
}

.about {padding-left:10%;padding-right:10%;}

#work-nav {
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style-type: 0;
	position: relative;
	text-transform:uppercase;
	margin-bottom:4%;
}
#work-nav li {
    display: inline-block;
      margin-left: 30px;
  margin-right: 30px;
    padding: 5px 0;
	float:none;
}

#work-nav a {padding:1px;margin:0;}


#work-nav li#magic-line {
    left: 10px;
	bottom:5px;
    height: 1px;
    padding: 0;
    background-color: #c30e2e;
    position: absolute;
    display: inline-block;
}

#work-nav li:hover, #work-nav li:active {cursor:pointer;}

@media (max-width:614px) {
	#work-nav li {display:block}
}




.formcontainer {max-width:1001px;}	

.casestudyimg {background-size: contain!important;
height: 523px;}

#casestudycarousel {background:#606a72;background-color:#606a72;text-align:center;padding-top:5%;padding-bottom:5%;}
#casestudycarousel img {display:inline-block!important;}

#casestudycarousel .carousel-indicators li {background:#e9e9ea;border:1px solid #e9e9ea;}
#casestudycarousel .carousel-indicators li.active {background:#899096;border:1px solid #899096;}


.carouselcontainer {padding:0;}

.mikebg {background: url('../img/BIO_IMG_Mike.jpg') no-repeat;
background-size: cover;
height: 300px;}
	
.sambg {background: url('../img/BIO_IMG_Sam.jpg') no-repeat;
background-size: cover;
height: 300px;}

.teambg {background: url('../img/teambg2.png') no-repeat left top;
  color: #fff;
  background-size: cover;
  background-color: #2b3943;
  background-position: top center;}

.greybg {background-color: #303e48;color:#fff;}


.jumbotron img {display:inline-block;}

.navwrap {max-width:1400px;}

.navbar-brand {
	padding: 28px 15px;
	height: 33px;
}

.navbar-nav {
	padding: 20px 0;
}

ul.nav.navbar-nav.center {
display: inline-block;
  float: left;
  padding-left: 17.5%;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.icon-bar {background:#303e48;background-color:#303e48;}


	

.navbar-toggle {
	margin: 30px 0;
	
}

.navbar-toggle .icon-bar {height:3px;}

.navbar-header {height:90px;}


ul.nav.navbar-nav.center a {
	color: #303e48;
font-family: "HelveticaNeueW01-LtExt";
font-size: .9em;
letter-spacing: .2em;

-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;

}

ul.nav.navbar-nav.center a:hover, ul.nav.navbar-nav.center a:active  {
color: #c30e2e;
font-family: "HelveticaNeueW01-LtExt";
font-size: .9em;
letter-spacing: .2em;

-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
text-decoration:none;
}


a.fa-lg {
color: #303e48;
padding-left:10px!important;padding-right:10px!important;

-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

a.fa-lg:hover, a.fa-lg:active, a.fa-lg:focus {
color: #c30e2e!important;
text-decoration:none!important;

-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

/*.scroll {
width: 100%;
border-bottom: 15px solid #c30e2e;
height: 75px;
padding: 0;
text-align: center;
margin-top: -95px;
}
.scroll img {display:inline-block;padding:0;}*/

.gettoknowus {margin-top:5%;}

.navbar-default .navbar-nav > li > a {
color: #303e48;
font-family: "HelveticaNeueW01-LtExt";
font-size: .9em;
letter-spacing: .2em;

-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

h1, .h1 {
font-family: "HelveticaNeueW01-BdExt";
font-size: 31px;
padding-left: 10%;
padding-right: 10%;
padding-bottom:2%;
text-transform: uppercase;
letter-spacing: 2px;
line-height: 1.3;
color: #303e48;
}

h2, .h2 {
	color: #303e48;
	padding-bottom:4%;
	letter-spacing: 1px;
	font-size:20px;
}

.red {color: #c30e2e;}


.fa-chevron-right {font-size: 11px!important;}

.mgcontainer{  max-width:1260px;
   min-width:240px;
   width:auto;
   margin:auto;
   padding:0px 30px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   overflow: hidden;
   
}
 
.megafolio-container{  width:100%; 
   position:relative;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.buttons {padding-bottom:3%;}

.btn {font-family: "HelveticaNeueW01-LtExt"!important;
letter-spacing: .2em!important;}

.btn-submit {
	background: #e9e9ea;
	//margin-bottom: 13%;
	margin-top: 5%;
}

.buttonwrap {
	padding-top: 5%;
	padding-bottom: 15px;
}

.btn-group-justified > .btn-group .btn {background:none;color:#303e48;border-bottom:0;border-top:none!important;border-left:none!important;border-right:none!important;}

#viewall {
	padding-bottom: 5%;
}


.btn-group-justified .btn-default:hover, .btn-group-justified .btn-default:focus, .btn-group-justified .btn-default.focus, .btn-group-justified .btn-default:active, ..btn-group-justified btn-default.active, .open > .dropdown-toggle.btn-default {
	background:none!important;
}


.filter-options {
	margin-top: 1%;
	margin-bottom: 5%;
}

.clients {margin-bottom:6%;}

.return, .return a, .return a:active, .return a:hover, .return a:focus {color:#e9e9ea!important;font-size:12px;font-family: "HelveticaNeueW01-LtExt";}

/*.btn, .btn:hover, .btn:active {padding:14px 60px;}*/

.CS-leftpanel {
  padding-bottom: 5%;
}

.btn-casestudy {
	/*position: absolute;
  bottom: 60px;
  left: 85px;*/
	color: #303e48;
	background-color: none;
	font-family: 'Helvetica Neue',arial,helvetica,sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	padding: 14px 35px;
	border-radius: 0;
	border: 1px solid #303e48;
	font-weight: bold;
	-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.right.carousel-control img {float:left;}
.left.carousel-control img {float:right;}

.CS-navposition {
	position: relative;
	bottom: 0px;
}

.btn-casestudy:hover,
.btn-casestudy:focus,
.btn-casestudy.focus,
.btn-casestudy:active,
.btn-casestudy.active,
.open > .dropdown-toggle.btn-casestudy {
color: #e9e9ea;
background-color: #c30e2e;
border: 1px solid #c30e2e;
font-family: 'Helvetica Neue',arial,helvetica,sans-serif;
text-transform: uppercase;
font-size: 13px;
padding: 14px 35px;
border-radius: 0;
font-weight: bold;
outline:none!important;


-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;

}
.btn-casestudy:active,
.btn-casestudy.active,
.open > .dropdown-toggle.btn-casestudy {
  background-image: none;
}


.btn-reverse {color:#fff;border:1px solid #fff;}

.form {padding-left:5%;padding-right:5%;}

.form-control {
display: block;
width: 100%;
height: 44px;
padding-left:25px;
font-size: 14px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
background-image: none;
border: 0;
border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
-o-transition: none;
transition: none;
margin-bottom: 2%;
font-family: "HelveticaNeueW01-LtExt";
font-size: 11px;
letter-spacing: .2em;
text-transform:uppercase;
outline:none!important;
}

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}


.smalltitle {padding-top: 150px;
text-align: center;
padding-bottom: 40px!important;margin-bottom:5%;}

.dark {background:url('../img/pixelbg.png') repeat left top; background-attachment: fixed; color:#fff;padding-bottom:5%;}
.mapbg {background: url('../img/map.png') no-repeat left top;
color: #fff;
background-size: inherit;
background-attachment: fixed;
background-color: #2b3943;}

.mapbg h1 {font-size:44px;}

.left table {
	 height: 100%;
	 float: right;
}
.right table {
	height: 100%;
}

.desktopbg {
	min-height: 510px;
	background: url('../img/BG_desktop2_LT_wide.jpg') no-repeat left top;
	color: #fff;
	background-size: auto;
	background-attachment: fixed;
	background-position: center 95px;
}

.desktopbg h1 {
	font-size:44px;
	padding-left: 15px;
}

.ipadbg {
	min-height: 510px;
	background: url('../img/BG_iPad1_LT.jpg') no-repeat left top;
	color: #fff;
	background-size: auto;
	background-attachment: fixed;
	background-position: left 95px;
}

.ipadbg h1 {
	padding-left: 15px;
}

.laptopbg {
	min-height: 510px;
	background: url('../img/BG_laptop_ipad_LT.jpg') no-repeat left top;
	color: #fff;
	background-size: auto;
	background-attachment: fixed;
	background-position: left 95px;
}

.laptopbg h1 {
	padding-left: 15px;
}

@media (min-width: 1800px) {
	.desktopbg {
		background-size: 100% 510px;
	}
	.ipadbg {
		background-size: 50% 510px;
	}
	.laptopbg {
		background-size: 50% 510px;
	}
}

@media (max-width: 991px) {
	.desktopbg {
		min-height: 0px;
		background: url('../img/BG_desktop2_LT.jpg') no-repeat left top;
		background-attachment: fixed;
		background-size: 100% auto;
		background-position: center top;
	}
	.ipadbg {
		min-height: 0px;
		background: url('../img/BG_iPad1_LT.jpg') no-repeat left top;
		background-attachment: fixed;
		background-size: 100% auto;
		background-position: center 55px;
	}
	.laptopbg {
		min-height: 0px;
		background: url('../img/BG_laptop_ipad_LT.jpg') no-repeat left top;
		background-attachment: fixed;
		background-size: 100% auto;
		background-position: center 55px;
	}
	.left table {
		 float: left;
	}
	.desktopbg h1,
	.ipadbg h1,
	.laptopbg h1 {
		padding-top: 4%;
		padding-bottom: 4%;
	}
}




.graybg {
	background:url('../img/cartographer_1.png') repeat left top; 
	background-attachment: fixed;
	color:#fff;
	padding-top: 3%; 
	padding-bottom: 4%;
}

.bluebg {background:url('../img/bluebg.png') repeat left top; color:#fff;padding-top: 3%;
padding-bottom: 4%;
}
.checkbg {
	background:url('../img/checkbg.png') repeat left top; 
	color:#fff;
	padding-top: 2%;
	padding-bottom: 3%;
	margin-top: 5%;
	background-attachment: fixed;
}
.dotbg {background:url('../img/dotbg.png') repeat left top; color:#fff;padding-top: 10%;
padding-bottom: 0; background-attachment: fixed;
}

.lightgraybg {background:#606a72;background-color:#606a72;color:#fff;}

.smallheader.white, .graybg .smallheader, .checkbg .smallheader, .lightgraybg .smallheader, .dotcheckbg .smallheader {color:#e9e9ea;}
.smallheaderdivider.white, .graybg .smallheaderdivider, .checkbg .smallheaderdivider, .lightgraybg .smallheaderdivider, .dotcheckbg .smallheaderdivider {border-bottom:1px solid #e9e9ea;}

.smallheader.red {color:#c30e2e!important;text-align:left!important;padding-left: 10%;
padding-right: 10%;}
.smallheaderdivider.red {border-bottom:1px solid #c30e2e!important;margin-left:10%;}

.CS-smallheader {
	padding-top:3%;
	color:#fff;
	font-family: "HelveticaNeueW01-LtExt";
	text-transform:uppercase;
	font-size: 20px;
	text-align:center;
	padding-bottom:0;
	margin-bottom:8px;
	//font-weight:bold;
}

.CS-smallheaderdivider {
	border-bottom: 1px solid #fff;
	display: inline-block;
	width: 117px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 3%;
}


.white {color:#fff!important;}

.redbg { background:#c30e2e;color:#fff;font-family: "HelveticaNeueW01-LtExt";text-transform:uppercase;font-size:10px;padding-bottom:2%;}

.colorblockheader {margin-top:90px;padding-bottom:0px;margin-left:0!important;margin-right:0!important;}

.colorblockheader .dark, .colorblockheader .mapbg {
	padding-bottom: 12%;
padding-top: 10%;
padding-left: 5%;
padding-right: 5%; }

.colorblockheader .mapbg p.italic {
font-family: 'Times NR W01';
color: #fff;
text-transform: none;
font-size: 17px;
letter-spacing: 3px;
padding-top: 20%;
padding-left: 15%;
padding-right: 15%;
line-height: 2;
padding-bottom: 7%;
}
	


h1.italic {
font-family: 'Times NR W01 Italic';
color: #fff;
text-transform: none;
font-size: 40px;
letter-spacing: 3px;
padding-top: 5%;
}

h2.italic {font-family: 'Times NR W01 Italic';}

.colorblockheader p.italic {
	color: #fff;
	text-transform: none;
	font-size: 16px;
	letter-spacing: 3px;
	margin: 0;
	padding-left:15%;
	padding-right:15%;
	line-height:2;
}

p.smallitalic {
	color: #fff;
	text-transform: none;
	font-size: 16px;
	letter-spacing: 3px;
	padding-top: 4%;
	padding-left: 15%;
	padding-right: 10%;
	line-height: 2;
	padding-bottom: 13.5%;
}

h2.smallheader {padding-top:3%;color:#303e48;font-family: "HelveticaNeueW01-BdExt";text-transform:uppercase;font-size:16px;text-align:center;padding-bottom:0;margin-bottom:8px;font-weight:bold;}

h2.comesayhello {padding-top:5%;color:#e9e9ea;font-family: "HelveticaNeueW01-BdExt";text-transform:uppercase;font-size:18px;text-align:left;padding-bottom:0;margin-bottom:8px;padding-left:10%;}

.hellodivider {border-bottom:1px solid #e9e9ea;display:inline-block;width:117px;padding-bottom:0;margin-bottom:1%;margin-left:10%;}

.smallheaderdivider {border-bottom: 1px solid #303e48;
display: inline-block;
width: 117px;
padding-bottom: 5px;
margin-bottom: 3%;}



p {
	font-family:'Helvetica W01 Roman';
	color:#303e48;
	font-size:16px;
	line-height:34px;
	margin-bottom:5%;
}

p a {color:#303e48!important;font-weight:bold;}

.map {height: 410px;
padding: 0;
margin: 0;}

.phoneandemail a, footer a {color:#fff!important;}

.phoneandemail {padding-left:10%;}
.phoneandemail img {display:inline;}
#address, .phoneandemail {
font-family: "HelveticaNeueW01-LtExt";
text-transform: uppercase;
font-size: 14px;
line-height: 2;
padding-left: 10%;
letter-spacing: 1px;
color:#fff;
}

.alert {
background-color: #c30e2e;
border: none;
border-radius: 0;
text-align: center;
color: #e9e9ea;
font-family: "HelveticaNeueW01-LtExt";
font-size: 11px;
letter-spacing: .2em;
text-transform: uppercase;
}

.close {
float: right;
font-size: 21px;
font-weight: regular;
line-height: 1;
color: #fff;
text-shadow: none;
opacity: 1;
filter: alpha(opacity=100);
margin-top: 5px;
}

.help-block ul li {
font-family: "HelveticaNeueW01-LtExt";
font-size: 12px;
letter-spacing: .2em;
color: #c30e2e;
list-style: none;
list-style-type: none;
}

.categorywrap {
	display: inline-block;
width: 100%;
height: 50px;
margin: 0 0 3% 0;
padding-top:2%;
	 }

textarea {height:200px!important;}

label {font-family: "HelveticaNeueW01-LtExt";font-size: 10px;
text-transform: uppercase;}

.input-group {width:100%;}

.mega-entry {border:1px solid #e9e9ea;}


.carousel-control {
	padding-top: 30%;
	background: none!important;
	background-image: none!important;
	opacity:1!important;
	width:8%;
}




@media (max-width: 768px) {
	#quotecarousel .carousel-control {
		padding-top: 15%;
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	#quotecarousel .carousel-control {
		padding-top: 30%;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	#quotecarousel .carousel-control {
		padding-top: 20%;
	}
}
@media (min-width: 1400px) {
	#quotecarousel .carousel-control {
		padding-top: 10%;
	}
}



.carousel-indicators li {
margin-left: 7px!important;
margin-right: 7px!important;
background: #d7d7d7;
border: 1px solid #d7d7d7;

}

.services img {display:inline-block;}
.services h2 {color:#c30e2e;font-size:24px;text-transform:uppercase;font-family: "HelveticaNeueW01-LtExt";}
.services p {font-size:17px;}
.services ul li {font-family: "HelveticaNeueW01-BdExt";list-style:none;list-style-type:none;text-transform:uppercase;}
.services ul {padding:0;margin:0;}
.webandinteractive {border-right:1px solid #606a72;}
.graphicdesign {border-top:1px solid #606a72;border-right:1px solid #606a72;}
.socialmedia {border-top:1px solid #606a72;}
.webandinteractive, .motiongraphics, .graphicdesign, .socialmedia {
padding: 5%;
}

.graphicdesign, .socialmedia {
padding-bottom: 2%;
}

.webandinteractive, .motiongraphics {
padding-top: 0;
margin-top: 3%;
}


h1.contactheader {
  padding-top: 2%;
}



.carousel-indicators li.active {background:#c30e2e; border:1px solid #c30e2e;}

.carousel h2 {
font-size: 33px;
color: #d7d7d7;
padding-left: 15%;
padding-right: 15%;
line-height: 1.4;
padding-top: 4%;
font-family: 'Times NR W01 Italic';
}

.carousel p { font-family: "HelveticaNeueW01-LtExt";
font-size:12px;text-transform:uppercase;color: #d7d7d7;}


 #grid {position:relative; overflow: hidden;}
 #grid img {width:100%;}
#grid [class*="col-"] {padding:0;border:1px solid #e9e9ea;}
.grid {width:100%!important;max-width:1400px;}
.gridcontainer {width:100%;max-width:1400px;}
.filter-options {width:100%;}

.overlay {
	color:#fff;
	width: 100%;
	height: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(48, 62, 72);
    /* RGBa with 0.6 opacity */
    background: rgba(48, 62, 72, 0.95);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80645344, endColorstr=#80645344);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80645344, endColorstr=#80645344)";
	position: absolute;
	top: 0;
	left:0;
	text-align:center;
	padding-left:9%!important;
	padding-right:9%!important;
}

.overlay > table {
	width: 100%;
	height: 100%;
}

.overlay .smallheader {font-family: "HelveticaNeueW01-BdExt";;color:#fff;}
.overlay .smallheaderdivider {border-bottom:1px solid #fff;}
.overlay p {
	color: #fff;
	font-size: 12px;
	font-family: "HelveticaNeueW01-LtExt";
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 1.3;
}

.relatedblock {border:1px solid #e9e9ea;}

.relatedblock .overlay {opacity:0;}

.productheader {padding-top: 110px;
padding-bottom: 50px;
height: 135px;background-color:#303e48;color:#fff;position:fixed;width:100%;border-radius:0;border:0;z-index:1000;}

.productheader img	{display:inline-block;padding:3px;}


/* -------------------- CASE STUDY SPECIFIC ---------------- */


.CS-headerBG {
	background:url('../img/cartographer_1.png') repeat left top; 
	background-attachment: fixed;
	position:relative;
}

.CS-nav {
	margin-top: 96px;
	margin-bottom: 50px;
	background-color: #303e48;
	font-size:12px;
}


.CS-nav .container {
  padding-top: 19px!important;
  padding-bottom: 25px!important;
}
  
.CS-nav .pull-left {padding-top:5px;}
.CS-nav .pull-right {padding-top:3px;}

.hoverimage {z-index:2;}

.CS-navtext {
	color: #e9e9ea;
	font-family: "HelveticaNeueW01-LtExt";
	text-transform: uppercase;
	padding: 0 15px;
	z-index:1;
}

.CS-navtext a {
	color: #fff;
	  left: 30px;
  position: relative;
}

.CS-leftpanel {
	padding-left: 85px;
}

.CS-leftpanel h2 {
	color:#c30e2e;
	text-align:left;
	padding-top:10%;
	font-family: "HelveticaNeueW01-BdExt";
	text-transform:uppercase;
	font-size:16px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight:bold;
	max-width:75%;
}

.CS-leftpanel h1 {
	font-family: "HelveticaNeueW01-BdExt";
	font-size: 30px;
	padding-left: 0;
	text-transform: none;
	letter-spacing: 2px;
	line-height: 1.3;
	color: #e9e9ea;
}

.CS-summarypanel {
	background-color: #fff;
	padding: 70px;
}

.CS-summarypanel h2 {
	font-family: "HelveticaNeueW01-LtExt";
	text-transform: uppercase;
	color:#c30e2e;
	padding-bottom: 2%;
}

.CS-summarypanel p {
	line-height: 25px;
	margin-bottom: 2%;
}

.CS-summarypanel li {
	font-size: 16px;
	padding-left: 15px;
	padding-bottom: 25px;
	margin-left: -20px;
}

.CS-lowerleft {
	border-right: 1px solid #cfd2d4;
	padding-right: 85px;
}

.CS-lowerright {
	padding-left: 85px;
}

@media (max-width: 991px) {
	.CS-leftpanel {
		padding-left: 15px;
	}
	.CS-summarypanel {
		padding: 30px 0 5% 0;
	}
	.CS-nav {margin-bottom:0;}
}

@media (max-width: 991px) {
	.CS-nav {
		margin-top: 56px;
	}
	
	.CS-lowerleft {
		border-right: none;
		padding-right: 15px;
	}

	.CS-lowerright {
		padding-left: 15px;
	}

	.CS-leftpanel h1 {
		font-size: 20px;
	}

	.CS-leftpanel h2 {
		font-size: 14px;
		padding-bottom: 15px;
	}

}

@media (max-width: 1399px) {
	.CS-leftpanel h1 {
		font-size: 16px;
	}
}	

.casestudycontainer {
	margin-top:100px;
	padding-left: 85px;
}

.casestudycontainer h1 {
	font-family: "HelveticaNeueW01-BdExt";
	font-size: 30px;
	padding-left: 0;
	padding-right: 10%;
	padding-bottom: 2%;
	text-transform: none;
	letter-spacing: 2px;
	line-height: 1.3;
	color: #e9e9ea;
}


.casestudycontainer h2 {font-family: "HelveticaNeueW01-BdExt";}

.casestudydetails {
	padding: 10%;
}

.redline {
	height: 1px;
	width: 100px;
	background-color: #C30E2E;
	display: block;
}

.relatedprojects div {
	margin:0;
	padding:0;
	height:350px;
}

.relatedprojects {margin-top: 3%; margin-bottom:10%;}

.CS-img {
	padding-left: 0;
	padding-right: 0;
}

.BG-adp {
	background: url('../img/CS_BG_adp.png');
}
.BG-aetna-plan {
	background: url('../img/CS_BG_aetna-plan.png');
}
.BG-aetna-vid {
	background: url('../img/CS_BG_aetna-vid.png');
}
.BG-balenciaga {
	background: url('../img/CS_BG_balenciaga.png');
}
.BG-beyonce {
	background: url('../img/CS_BG_beyonce.png');
}
.BG-exelis {
	background: url('../img/CS_BG_exelis.png');
}
.BG-glgf {
	background: url('../img/CS_BG_glgf.png');
}
.BG-guess {
	background: url('../img/CS_BG_guess.png');
}
.BG-halle {
	background: url('../img/CS_BG_halle.png');
}
.BG-irc {
	background: url('../img/CS_BG_irc.png');
}
.BG-itt-elec-sys {
	background: url('../img/CS_BG_itt-elec-sys.png');
}
.BG-itt-fluid {
	background: url('../img/CS_BG_itt-fluid.png');
}
.BG-mc-elearning {
	background: url('../img/CS_BG_mc-elearning.png');
}
.BG-myom-vid {
	background: url('../img/CS_BG_myom-vid.png');
}
.BG-mysavscore {
	background: url('../img/CS_BG_mysavscore.png');
}
.BG-stetson {
	background: url('../img/CS_BG_stetson.png');
}
.BG-voya-ebooks {
	background: url('../img/CS_BG_voya-ebooks.png');
}
.BG-voya-jane {
	background: url('../img/CS_BG_voya-jane.png');
}
.BG-voya-ppt {
	background: url('../img/CS_BG_voya-ppt.png');
}
.BG-watermark {
	background: url('../img/CS_BG_watermark.png');
}

@media (min-width: 1400px) {
	.BG-size {
		background-repeat: no-repeat;
		background-position: center 90px;
		background-size: 1400px auto;
		background-attachment: fixed;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	.BG-size {
		background-repeat: no-repeat;
		background-position: center 90px;
		background-size: 970px auto;
		background-attachment: fixed;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.BG-size {
		background-repeat: no-repeat;
		background-position: center 57px;
		background-size: 750px auto;
		background-attachment: fixed;
	}
}
@media (max-width: 767px) {
 .BG-size {
		background:url('../img/cartographer_1.png') repeat left top; 
		background-attachment: fixed;
	}
}

/* --------- END Case study ---------- */

.ourapproach h1 {
	padding-left: 20%;
	padding-right: 20%;
}

.ourapproach p {
	padding-left:10%;
	padding-right:10%;
	margin-bottom: 5%;
	margin-top: 2%;
}

.misfits {
	font-size: 31px;
	padding-left: 5%!important;
	padding-right: 0%!important;
	padding-top: 10%;
}


@media (max-width:321px) {
	.footer-right {padding:0;}
	.footer-right img {width:14px;margin-left:7px!important;}
	#grid [class*="col-"] {width:100%;}
}

@media (max-width:450px) {
	.whatwedoheader {
		font-size: 20px!important;
		padding-bottom: 10%;
	}	
}


@media (min-width:1450px) {
	.colorblockheader .left {
		padding: 0;
		margin: 0;
	}
	.colorblockheader .left h1 {
		max-width:680px!important;
		float: right;
		padding: 20% 10% 20% 0;
		margin: 0;
	}
	.colorblockheader .right p {
		float: left;
		max-width: 800px;
	}
}


@media (max-width:1300px) {
	.colorblockheader .right p {
		font-size:15px;
	}	
}


@media (max-width:1400px) {
	.btn-group-justified > .btn, .btn-group-justified > .btn-group {font-size:9px!important;}
	
	.btn-group-justified > .btn-group .btn {font-size:9px!important;}
}

@media (max-width:768px) {
	
	.formcontainer p {padding-left:5%;padding-right:5%;}
	.phoneandemail img {width:18px;}
	
	.carousel h2 {font-size:17px;}
	.homebutton {
		text-align: center;
		margin-bottom: 1%;
		margin-top: 5%;
	}

	.webandinteractive {border-bottom:1px solid #606a72; border-right:0px;}
	.graphicdesign {border-right:0px;}
	
}


@media (max-width: 1250px) {
	ul.nav.navbar-nav.center {
		padding-left: 1%!important;
	}
}

@media (max-width: 900px) {
	ul.nav.navbar-nav.center {
		padding-left: 0;
	}
}

@media (max-width: 991px) {
	.navbar-right {
		display: none;
	}
	
	.colorblockheader .right p {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10%;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.whatwedoheader {margin-top: -1%;
	margin-bottom: 4%;}
	.contactheader { margin-top: -3%;
	margin-bottom: 0;}
}

@media (max-width:1068px) and (min-width:991px) {
	ul.nav.navbar-nav.center {font-size:11px;}
	
}

@media (min-width:1201px) {

.homepageimg1 {
	/* background: url('../img/homepage_header_1.jpg') no-repeat center top fixed; */
	background-color:#000000;
	background-size: contain;
	text-align:center;
	padding-top:15%;
	padding-bottom:15%;
	border-bottom:6px solid #c30e2e;
}
}

@media (max-width:1200px) and (min-width:701px) {
	
	.homepageimg1 {
	background: url('../img/homepage_header_med.png') no-repeat center top fixed;
	background-color:#040608;
	background-size: contain;
	text-align:center;
	padding-top:15%;
	padding-bottom:15%;
	border-bottom:6px solid #c30e2e;
}
	
}

@media (max-width:479px) {
	.  {opacity:1!important;}
}


@media (max-width:991px) {
	
	.phoneandemail, #address {
		font-size:12px;
	}
	
	.footercol {
		text-align:center;
		margin-bottom:10px;
		margin-top:10px;
	}
	
	h1, .h1 {
		font-size:15px;
	}
	
	.about {
		padding-left: 0;
		padding-right: 0;
	}
	
	.ourapproach h1,
	.ourapproach p {
		padding-left: 15px;
		padding-right: 15px;
	}
	

	.left h1 {
		padding-left: 15px;
		font-size: 30px;
	}
	
	.right {
		height: 100%!important;
		margin-bottom: 10%!important;
	}
	
	.homepageimg1 {
		background: url('../img/homepage_header_sm.png') no-repeat center top fixed;
		background-color: #040608;
		background-size: none;
		text-align: center;
		padding-top: 19%;
		padding-bottom: 2%;
		border-bottom: 6px solid #c30e2e;
	}

	.jumbotron img {
		display: inline-block;
		max-width: 80%;
		margin-top: -7%;
		margin-bottom: 2%;
	}

	.jumbotron .btn {
		max-width: 200px;
		margin-bottom: 8%;
		margin-top: 8%;
	}

	.btn {font-size:9px!important;}
	
}

@media (max-width: 500px) {
	.ipadbg h1 {
		font-size: 25px;
	}
	
	
	.laptopbg h1 {
		font-size: 20px;
	}
}

.shuffle_sizer {
position: absolute;
opacity: 0;
visibility: hidden;
}

.CS-nav-bottom {
margin-bottom: 0;
margin-top: 0;
}



/* Hack to give 5-column option for category buttons on work page, found a better solution but leaving this just in case.

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
*/





.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */




.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
}

.fill.formfunction {
	background-size: inherit;
background-position: center center;
position: absolute;
z-index: 10;
top: 0;
left: 0;
}

a.downarrow {width:48px;height:48px;position: absolute;
bottom: 25%;
left: 49%;}

a.downarrow img {position:absolute;top:0;left:0;
-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;}

a.downarrow img.top {
  opacity:0;
}

a.downarrow img.top:hover {
  opacity:1;
}

a.downarrow img.bottom {
  opacity:1;
  width: 46px;
  left: 1px;
  top: 1px;
}

a.downarrow img.top:bottom {
  opacity:0;
}


.CS-nav td {position:relative;}


.CS-navtext a:hover, .CS-navtext a:active, .CS-navtext a:focus {color:#c30e2e;-webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;}

a.back {width:32px;height:32px;position: absolute;}

a.back img {position:absolute;bottom:15px;left:0;
-webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;}

a.back img.top {
  opacity:0;
  
}

a.back img.top:hover {
  opacity:1;
}

a.back img.bottom {
  opacity:1;
  
}

a.back img.bottom:hover {
  opacity:0;
}

.browse {top:2px;}




a.previous {width:32px;height:32px;position: absolute;left:0;}

a.previous img {position:absolute;bottom:16px;
-webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;}

a.previous img.top {
  opacity:0;
}

a.previous img.top:hover {
  opacity:1;
}

a.previous img.bottom {
  opacity:1;
  width: 30px;
  left: 1px;
  top: -15px;
}

a.previous img.top:bottom {
  opacity:0;
}



.nextprev {width:73px;top:2px;}

a.next {width:32px;height:32px;position: absolute;right:0;}

a.next img {position:absolute;bottom:16px;
-webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;}

a.next img.top {
  opacity:0;
}

a.next img.top:hover {
  opacity:1;
}

a.next img.bottom {
  opacity:1;
  width: 30px;
  left: 1px;
  top: -15px;
}

a.next img.top:bottom {
  opacity:0;
}



@media (max-width:950px) {
	.fill.formfunction {
	background-size: 80%;
background-position: center center;
position: absolute;
z-index: 10;
top: 0;
left: 0;
}
	
}


@media (max-width:1350px) {
.fill {
    width: 100%;
    height: 100%;
    background-position: bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
	background-repeat:no-repeat;
}
	
}





@media (min-width:1031px) and (max-width:1180px) {
	.fill { height:680px!important;}

}

@media (min-width:811px) and (max-width:1030px) {
	.fill { height:575px!important;}
#hello, #case-study {margin-top:-50px!important;padding-top:50px!important;}
	
}

@media (min-width:645px) and (max-width:810px) {
	.fill { height:450px!important;}
	
	a.downarrow {
  bottom: 15%;
  left: 45%;
}

#hello, #case-study {margin-top:-55px!important;padding-top:55px!important;}

}

@media (min-width:500px) and (max-width:644px) {
	.fill { height:375px!important;}
	
		a.downarrow {
  bottom: 15%;
  left: 45%;
}

#hello, #case-study {margin-top:-50px!important;padding-top:50px!important;}
		
}

@media (min-width:0px) and (max-width:499px) {
	.fill { height:300px!important;}
	
	a.downarrow {
  bottom: 15%;
  left: 40%;
}

#hello, #case-study {margin-top:-50px!important;padding-top:50px!important;}

}


.carousel-fade {background:#000;border-bottom:5px solid #c30e2e}

.carousel-fade .carousel-inner .item {
  opacity: 0;
 -webkit-transition: opacity .8s ease-in-out;
  -moz-transition: opacity .8s ease-in-out;
  -ms-transition: opacity .8s ease-in-out;
  -o-transition: opacity .8s ease-in-out;
  transition: opacity .8s ease-in-out;
  transition-duration: .8s;
    -moz-transition-duration: .8s;
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1!important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}





.shadownav {border-bottom:1px solid #6d6d6d;
-webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.59);
-moz-box-shadow:    0px 1px 7px 0px rgba(50, 50, 50, 0.59);
box-shadow:         0px 1px 7px 0px rgba(50, 50, 50, 0.59);
}


.homedescrip {padding-top:2%;padding-bottom:4%;}

.mag-glass {width:auto!important;}

#my-nav {
    border-bottom: 5px solid #fff; 
}

.magic-line {
    position: absolute; bottom: -5px; left: 0; width: 100px; height: 1px; background: #c30e2e;
	margin-left:3px;
}

@media (max-width:991px) {
	.magic-line, #magic-line {
   display:none!important;}
}

.navbar-nav>li>a:hover {
    background: none; color: #000;
}

li.active a {color:#c30e2e!important;}

#hello, #case-study {margin-top:-90px;padding-top:90px;}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {background:#c30e2e!important;border:1px solid #c30e2e!important;color:#e9e9ea!important;-webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;}
	
.mikebg h1, .sambg h1 {	font-size:12px;color:#fff;text-align:left;position:absolute;bottom:5%;}
.mikebg .subhead, .sambg .subhead {	font-size:12px;color:#c30e2e;text-align:left;display:inline-block;}
	
#mikebio h1, #sambio h1 {
  text-align: left;
  padding: 3% 0 3% 0;
  font-size: 17px;
  width:80%;
}



#mikebio, #sambio {
  background: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  padding-top: 2%;
}


#mikebio p, #sambio p {
margin-bottom:2%;
}

#mikebio .subhead, #sambio .subhead {
  text-align: left;
  font-family: "HelveticaNeueW01-LtExt";
  color: #c30e2e!important;
  padding: 3% 0 3% 1%;
  font-size: 17px;
  text-transform:capitalize;
  display:inline-block;
}

.bioarrow {position:absolute;bottom:-21px;left:40%;}
.plusbutton {
  position: absolute;
  bottom: 12%;
  right: 8%;
}

.closebutton {
  float:right;
  margin-top:4%;
}

#mikebio, #sambio, .bioarrow {display:none;}

#success {font-family: 'Times NR W01';
text-align:center;
  color: #c30e2e;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 5%;}
  
textarea#message { padding-top:20px;}

@media (max-width:991px) {
	.magic-line {display:none!important;}
}

@media (max-width:991px) and (min-width:768px) {
	
	.CS-headerBG .col-xs-12.col-sm-6.CS-img {
  padding-top: 7%;
  padding-bottom: 5%;
  background: #000;
	}
}

.video-responsive {
    position: relative;
    padding-bottom: 52.85%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#videomodal .modal-content {
	background-color: #303E48;
}
#videomodal .modal-body {
	padding: 0;
}
#videomodal .modal-header {
	border-bottom: none;
}
#videomodal .modal-title {
	color: #fff;
}
